header {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
}

#asidebtn {
    border: none;
    border-radius: 4px;
    background-color: white;
    color: white;
    text-align: center;
}

#headerindex {
    display: flex;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    border: none;
    margin-left: 2%;
}

.headerbtn {
    font-size: x-large;
    vertical-align: middle;
    margin-left: 2%;
    padding: 0.5%;
    text-align: center;
}

.headerbtn span {
    vertical-align: middle;
    text-align: center;
}

#loginsystem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: x-large;
}

#class, #account, #password, #submit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.loginselect {
    flex-grow: 1;
    font-size: large;
}

#passw {
    flex-grow: 1;
    font-size: medium;
}

#loginbtn {
    font-size: x-large;
    text-align: center;
    width: 45%;
    padding: 0.5%;
}

#wronglogin {
    display: flex;
    font-size: large;
    color: red;
    flex-grow: 1;
}

.arrowbtn {
    border: none;
    border-radius: 8px;
    background-color: orangered;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.arrowbtn span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
  
.arrowbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10%;
    transition: 0.5s;
}

.arrowbtn:hover span {
    padding-right: 25px;
}
  
.arrowbtn:hover span:after {
    opacity: 1;
    right: 0;
}

aside{
    margin: 0px;
    border: 0px;
    border-top: 2px;
    border-right: 2px;
    height: 100%;
    width: 8%;
    border-style: solid;
    border-color: gray;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.asidediv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.asidelistbtn{
    margin: 0px;
    border: 0px;
    border-bottom: 2px;
    width: 100%;
    font-size: x-large;
    border-style: solid;
    border-color: gray;
    background-color: white;
}

#mainsystem{
    margin: 0%;
    padding: 0%;
    height: max-content;
}

#cash, #mdish, #odish, #back{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: x-large;
}

#statistics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: x-large;
} 

#formula{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#mealsetting, #setting{
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.statisticsindex{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#detail::backdrop, #addorder::backdrop, #sendsettingdish::backdrop, #sendsettingcombo::backdrop, #modifyformula::backdrop, #checktoken::backdrop, #modifyuser::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

#addorder, #detail, #sendsettingdish, #sendsettingcombo, #modifyformula, #checktoken, #modifyuser{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: antiquewhite;
    border: none;
}

.tfoot{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.tfoot div{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}